{% extends 'base.html' %}
{% block nav %}
<nav class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/education">Education</a>
    <a href="/projects">Projects</a>
    <a href="/hobbies">Hobbies</a>
    <a href="/timeline">Timeline</a>
</nav>
{% endblock %}
{% block body %}
<div class="container" style="justify-content: center;">
    <div class="row">
        <h1>404 - Page Not Found</h1>
    </div>
    <div class="row">
        <p>
            Sorry, we couldn't find the page you're looking for.
            It may have been mis-spelled, or it doesn't exist anymore.
        </p>
    </div>
</div>
{% endblock %}