{% extends 'base.html' %}
{% block nav %}
<nav class="navbar">
    <a href="/">Home</a>
    <a href="/about" class="active">About</a>
    <a href="/education">Education</a>
    <a href="/pnh">Projects & Hobbies</a>
    <a href="/timeline">Timeline</a>
</nav>
{% endblock %}
{% block head %}
<script src="https://cdn.maptiler.com/maplibre-gl-js/v2.4.0/maplibre-gl.js"></script>
<link href="https://cdn.maptiler.com/maplibre-gl-js/v2.4.0/maplibre-gl.css" rel="stylesheet" />
<style>
    body {
        margin: 0;
        padding: 0;
    }

    #map {
        height: 800px;
        width: 1000px;
        border-radius: 10px;
    }

    .maplibregl-popup {
        max-width: 400px;
        font: 14px/22px 'Poppins', sans-serif;
        color: black;
    }
</style>
{% endblock %}
{% block body %}
<section class="about" id="about">
    <div class="about-img">
        <img src="https://i.ibb.co/ccT9tVM/bros.jpg" alt="Photo with brothers">
    </div>

    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>Production Engineer</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident explicabo cumque dignissimos odit? Rem
            vitae
            inventore saepe doloremque? Dicta laboriosam quod in impedit deserunt voluptate. Excepturi temporibus
            cupiditate
            accusamus iusto quae nihil laboriosam quasi, nobis debitis voluptatem hic? Nulla eligendi et, nam earum
            excepturi tempora? Enim.</p>
        <a href="" class="btn">Read More</a>
    </div>
</section>

<section class="map-section" id="map-section">
    <h2 class="heading">Where I've <span>been</span></h2>
    <div id="map"></div>
    <div class="attribution">
        <a href="https://www.flaticon.com/free-icons/marker" title="marker icons">Marker icons created by Deylotus
            Creative
            Design - Flaticon</a>
    </div>
    <script src="{{ url_for('static', filename='js/map_script.js') }}"></script>
    <i class='bx bxs-down-arrow-circle' id="down-arrow"></i>
</section>
{% endblock %}