{% extends 'base.html' %}
{% block head %}
<script src="https://cdn.maptiler.com/maplibre-gl-js/v2.4.0/maplibre-gl.js"></script>
<link href="https://cdn.maptiler.com/maplibre-gl-js/v2.4.0/maplibre-gl.css" rel="stylesheet" />
<style>
    body {
        margin: 0;
        padding: 0;
    }

    #map {
        height: 400px;
        width: 1000px;
        border-radius: 10px;
    }

    .maplibregl-popup {
        max-width: 400px;
        font: 12px/20px 'Roboto', serif;
    }
</style>
{% endblock %}
{% block body %}

<div class="block">
    <div class="row">
        <div class="col-8 align-self-center">
            <h2>
                About Me
            </h2>
            <h4>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores illum omnis, perspiciatis nisi
                accusantium
                libero ut! Vitae voluptates deleniti, dignissimos repellendus, alias pariatur eos dolorum vero expedita
                illum eum quod?
            </h4>
        </div>
        <div class="col-4 align-self-center">
            <img width="125%" height="125%" src="https://i.ibb.co/wdgbZr6/bros.jpg" alt="Photo with brothers">
        </div>
    </div>
</div>
<div class="map-block">
    <div class="col-8 align-self-center">
        <h2>
            Where I've been
        </h2>
    </div>
    <div class="col-4 align-self-center" id="map"></div>
    <div class="attribution">
        <a href="https://www.flaticon.com/free-icons/marker" title="marker icons">Marker icons created by Deylotus Creative
        Design - Flaticon</a>
    </div>
    <script src="{{ url_for('static', filename='js/map_script.js') }}"></script>
</div>
{% endblock %}