{% extends 'base.html' %}
{% block head %}
<script src="https://cdn.maptiler.com/maplibre-gl-js/v2.4.0/maplibre-gl.js"></script>
<link href="https://cdn.maptiler.com/maplibre-gl-js/v2.4.0/maplibre-gl.css" rel="stylesheet" />
<style>
    body {
        margin: 0;
        padding: 0;
    }

    #map {
        height: 400px;
        width: 1000px;
        border-radius: 10px;
    }

    .maplibregl-popup {
        max-width: 400px;
        font: 12px/20px 'Roboto', serif;
    }
</style>
{% endblock %}
{% block body %}

<div class="block">
    <div class="row">
        <div class="col-8 align-self-center">
            <h2>
                About Me
            </h2>
            <h4>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores illum omnis, perspiciatis nisi
                accusantium
                libero ut! Vitae voluptates deleniti, dignissimos repellendus, alias pariatur eos dolorum vero expedita
                illum eum quod?
            </h4>
        </div>
        <div class="col-4 align-self-center">
            <img width="125%" height="125%" src="https://i.ibb.co/wdgbZr6/bros.jpg"">
        </div>
    </div>
</div>
<div class="map-block">
    <div class="col-8 align-self-center">
        <h2>
            Where I've been
        </h2>
    </div>
    <div class="col-4 align-self-center" id="map">
    </div>
    <a href="https://www.flaticon.com/free-icons/marker" title="marker icons" style="font-size: xx-small;">Marker icons created by Deylotus Creative
        Design - Flaticon</a>
    <script>
        const key = 'GI546B3SGnBV6vEau70S';
        const map = new maplibregl.Map({
            container: 'map',
            style: `https://api.maptiler.com/maps/167a5f44-80cd-4b4b-99e6-a49b98dc4f9b/style.json?key=${key}`,
            center: [-98.5795, 39.8282],
            zoom: 3
        });

        map.on('load', () => {
            map.loadImage(
                "https://i.ibb.co/HCDh50Z/gps.png",
                // Add an image to use as a custom marker
                (error, image) => {
                    if (error) throw error;
                    map.addImage('custom-marker', image);


                    map.addSource('places', {
                        'type': 'geojson',
                        'data': {
                            'type': 'FeatureCollection',
                            'features': [
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>San Antonio</strong><p>Where I currently live</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-98.493628, 29.424122]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Salt Lake City</strong><p>Where my girlfriend lives</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-111.891047, 40.760779]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Yellowstone National Park</strong><p>Went here as a kid and did the junior ranger challenge</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-110.499898, 44.598885]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Los Angeles</strong><p>So.Much.Traffic</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-118.243683, 34.052235]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Kansas City</strong><p>Went here all the time when I lived in Overland Park</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-94.578567, 39.099727]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Hershey\'s Chocolate World!</strong><p>Much Chocolate</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-76.660246, 40.288359]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Dallas</strong><p>I love going to Dallas. Also, my old children\'s hospital is located here</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-96.796988, 32.776664]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Keller</strong><p>Where I lived before I moved to Kansas</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-97.229298, 32.934189]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Overland Park</strong><p>I lived here for most of my childhood</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-94.670792, 38.982228]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Destin</strong><p>I went here once on vacation with a church group</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-86.495783, 30.393534]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Cedar Point</strong><p>I remember going to this amusement park as a kid. Lots of Peanuts characters</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-82.683445, 41.480790]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Texas</strong><p>My home state</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-99.901813, 31.968599]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Kansas</strong><p>My second home state</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-98.484246, 39.011902]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Utah</strong><p>My girlfriend\'s parents are from here</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-111.093731, 39.320980]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Idaho</strong><p>The gem state</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-114.742041, 44.068202]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Montana</strong><p>The treasure state</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-110.362566, 46.879682]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Wyoming</strong><p>The equality state</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-107.290284, 43.075968]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>South Dakota</strong><p>The mount rushmore state</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-99.901813, 43.969515]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Mount Rushmore</strong><p>I thought it would be bigger</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-103.459067, 43.879102]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Minnesota</strong><p>The land of 10,000 lakes</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-94.685900, 46.729553]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Nebraska</strong><p>The cornhusker state</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-99.901813, 41.492537]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Iowa</strong><p>The hawkeye state</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-93.097702, 41.878003]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Illinois</strong><p>The prairie state</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-89.398528, 40.633125]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>NASA</strong><p>I\'ve actually been here twice. Once as a kid and again for a field trip with the science club</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-95.089998, 29.559345]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Horseshoe Bend in Glen Canyon</strong><p>I went water rafting here</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-111.510363, 36.879061]
                                    }
                                },
                                {
                                    'type': 'Feature',
                                    'properties': {
                                        'description':
                                            '<strong>Jamestown Settlement</strong><p>It was really cool seeing how people used to live</p>'
                                    },
                                    'geometry': {
                                        'type': 'Point',
                                        'coordinates': [-76.775210, 37.211638]
                                    }
                                },
                            ]
                        }
                    });

                    // Add a layer showing the places.
                    map.addLayer({
                        'id': 'places',
                        'type': 'symbol',
                        'source': 'places',
                        'layout': {
                            'icon-image': 'custom-marker',
                            'icon-overlap': 'always'
                        }
                    });
                }
            );


            // Create a popup, but don't add it to the map yet.
            const popup = new maplibregl.Popup({
                closeButton: false,
                closeOnClick: false
            });

            map.on('mouseenter', 'places', (e) => {
                // Change the cursor style as a UI indicator.
                map.getCanvas().style.cursor = 'pointer';

                const coordinates = e.features[0].geometry.coordinates.slice();
                const description = e.features[0].properties.description;

                // Ensure that if the map is zoomed out such that multiple
                // copies of the feature are visible, the popup appears
                // over the copy being pointed to.
                while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                    coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                }

                // Populate the popup and set its coordinates
                // based on the feature found.
                popup.setLngLat(coordinates).setHTML(description).addTo(map);
            });

            map.on('mouseleave', 'places', () => {
                map.getCanvas().style.cursor = '';
                popup.remove();
            });
        });
    </script>
</div>
{% endblock %}