<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" content="https://i.ibb.co/9wxwvLF/profile-square.jpg">
    <meta property="og:title" content="Nicolas S. Ruiz">
    <meta property="og:description"
        content="UTSA Computer Science grad specialized in cloud computing, adept in teamwork and independent problem-solving.">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta name="twitter:creator" content="@NicRuiz88">
    <meta name="twitter:title" content="Nicolas S. Ruiz">
    <meta name="twitter:description"
        content="UTSA Computer Science grad specialized in cloud computing, adept in teamwork and independent problem-solving.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="https://i.ibb.co/9wxwvLF/profile-square.jpg">

    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- custom css, icon, etc -->
    <link lang="css" rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
    <title>NR | {{ title }}</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    <header class="header">
        <a href="/" class="logo">Nico <span>Ruiz</span></a>

        <i class='bx bx-menu' id="menu-icon"></i>

        {% block nav %}
        {% endblock %}
    </header>

    {% block body %}
    {% endblock %}

    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2023 by Nicolas Ruiz | All Rights Reserved.</p>
        </div>
    </footer>

    <!-- scroll reveal script -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js -->
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    <!-- custom script -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>