{% extends 'base.html' %}
{% block nav %}
<nav class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/education" class="active">Education</a>
    <a href="/projects">Projects</a>
    <a href="/hobbies">Hobbies</a>
    <a href="/timeline">Timeline</a>
</nav>
{% endblock %}
{% block body %}

<section class="education" id="education">
    <h2 class="heading">My <span>Journey</span></h2>

    <div class="education-row">
        <div class="education-column">
            <h3 class="title">Education</h3>

            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i> 2018 - 2023</div>
                        <h3>Bachelor's Degree - University of Texas at San Antonio</h3>
                        <p>I graduated with a concentration in cloud & systems. I was also a member of the Association
                            for Computing Machinery (ACM), the Japanese Student Association (JSA), and the Anime Club. I
                            became the technical officer for ACM in my 4th year. For my 5th year, I stepped down to focus
                            on my courses while remaining the junior technical officer.</p>
                    </div>
                </div>
            </div>
            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i> 2016 - 2018</div>
                        <h3>Smithson Valley High School</h3>
                        <p>The High School I graduated from in Spring Branch, Texas.</p>
                    </div>
                </div>
            </div>
            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i> 2014 - 2016</div>
                        <h3>Blue Valley High School</h3>
                        <p>My first High School from when I lived in Kansas. It's also where I first met my girlfriend.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="education-column">
            <h3 class="title">Experience</h3>
        
            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i> Jun 2023 - Sep 2023</div>
                        <h3>Production Engineering Fellow - MLH Fellowship</h3>
                        <p>I am a MLH Production Engineering Fellow with Meta. In this role, I am learning the skills and experience I need to
                        become a successful Production Engineer. I am working on real-world production engineering projects with the mentorship
                        of experienced engineers from Meta. I am also participating in a variety of educational workshops and events to further
                        my knowledge. The MLH Production Engineering Fellowship is a great opportunity to learn from the best and to launch my
                        career in Production Engineering.</p>
                    </div>
                </div>
            </div>
            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i> Sep 2022 - Dec 2022</div>
                        <h3>Open Source Fellow - MLH Fellowship</h3>
                        <p>The Open Source Program is an opportunity to learn how to be a great Open Source citizen by contributing to major
                        projects on GitHub that are used by thousands of companies around the world.</p>
                    </div>
                </div>
            </div>
            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i> May 2021 - May 2022</div>
                        <h3>Technical Officer - Association for Computing Machinery UTSA Chapter</h3>
                        <p>My first High School from when I lived in Kansas. It's also where I first met my girlfriend.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}