{% extends 'base.html' %}
{% block content %}
<div class="profile">
    <h1>{{ title }}</h1>
</div>

<div class="block">
    <div class="row">
        <div class="col-4 align-self-center">
            <img src="https://i.ibb.co/z616WGw/school2.jpg" alt="school2" border="0">
        </div>
        <div class="col-8 align-self-center">
            <h2>
                The University of Texas at San Antonio
            </h2>
            <h4>
                Bachelor of Science in Computer Science
            </h4>
            <h5>
                Concentration in Cloud & Systems
            </h5>
            <h6>
                Graduated May 2023
            </h6>
        </div>
    </div>
</div>
<div class="block">
    <div class="row">
        <div class="col-4 align-self-center">
            <img src="https://i.ibb.co/7Qt4DbQ/school1.jpg" alt="school1" border="0">
        </div>
        <div class="col-8 align-self-center">
            <h2>
                Smithson Valley High school
            </h2>
            <h6>
                Graduated May 2018
            </h6>
        </div>
    </div>
</div>
{% endblock %}