{% extends 'base.html' %}
{% block nav %}
<nav class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/education">Education</a>
    <a href="/projects">Projects</a>
    <a href="/hobbies" class="active">Hobbies</a>
    <a href="/timeline">Timeline</a>
</nav>
{% endblock %}
{% block body %}
<section class="hobbies" id="hobbies">
    <h2 class="heading">My <span>Hobbies</span></h2>

    <div class="hobbies-container">
        <div class="hobbies-box">
            <img src="https://i.ibb.co/FYnKqFw/Programming.png" alt="Programming">
            <div class="hobbies-layer">
                <h4>Programming</h4>
                <p>I love programming for its power to turn thoughts into interactive realities, a modern-day magic.</p>
            </div>
        </div>
        <div class="hobbies-box">
            <img src="https://i.ibb.co/M6zhb8Q/Guitar.png" alt="Guitar">
            <div class="hobbies-layer">
                <h4>Learning Instruments</h4>
                <p>Through guitar, piano, and other instruments, I channel my passion while playing my favorite songs.
                </p>
            </div>
        </div>
        <div class="hobbies-box">
            <img src="https://i.ibb.co/pXx1Sc3/Bookstore.png" alt="Bookstore">
            <div class="hobbies-layer">
                <h4>Reading</h4>
                <p>The allure of books lies in escaping to enchanting realms, where imagination knows no bounds. In this
                    photo, my girlfriend and I are in front of one of our favorite bookstores.</p>
            </div>
        </div>
        <div class="hobbies-box">
            <img src="https://i.ibb.co/pnYwFzx/Hackathon.png" alt="Hackathon">
            <div class="hobbies-layer">
                <h4>Attending Hackathons</h4>
                <p>Hackathons are thrilling; I dive into coding frenzies with my friends, crafting ideas into digital
                    marvels.</p>
            </div>
        </div>
        <div class="hobbies-box">
            <img src="https://i.ibb.co/3Bnk0P1/esport.png" alt="esport">
            <div class="hobbies-layer">
                <h4>Watching eSports</h4>
                <p>eSports, notably Overwatch League, offers competitive excitement and camaraderie, merging my
                    passions. #BurnBlue</p>
            </div>
        </div>
        <div class="hobbies-box">
            <img src="https://i.ibb.co/dr3ctft/keyboard.jpg" alt="keyboard">
            <div class="hobbies-layer">
                <h4>Mechanical Keyboards</h4>
                <p>This is myfirst mechanical keyboard; I was so happy with it after putting in the blueberry switches I
                    lubed by hand and switching out the keycaps.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}