{% extends 'base.html' %}
{% block nav %}
<nav class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/education">Education</a>
    <a href="/projects">Projects</a>
    <a href="/hobbies" class="active">Hobbies</a>
    <a href="/timeline">Timeline</a>
</nav>
{% endblock %}
{% block body %}
<div class="block">
    <div class="row">
        <div class="col-4 align-self-center">
            <img src="https://i.ibb.co/q5GNfH4/desk.jpg" alt="My desk">
        </div>
        <div class="col-8 align-self-center">
            <h2>
                Programming
            </h2>
        </div>
    </div>
</div>
<div class="block">
    <div class="row">
        <div class="col-8 align-self-center">
            <h2>
                Learning Instruments
            </h2>
        </div>
        <div class="col-4 align-self-center">
            <img src="https://i.ibb.co/b3p8sjM/guitar.jpg" alt="Playing Guitar">
        </div>
    </div>
</div>
<div class="block">
    <div class="row">
        <div class="col-4 align-self-center">
            <img src="https://i.ibb.co/ch054pz/bookstore.jpg" alt="Bookstore">
        </div>
        <div class="col-8 align-self-center">
            <h2>
                Reading
            </h2>
        </div>
    </div>
</div>
<div class="block">
    <div class="row">
        <div class="col-8 align-self-center">
            <h2>
                Attending Hackathons
            </h2>
        </div>
        <div class="col-4 align-self-center">
            <img src="https://i.ibb.co/jvvX5xZ/hackathon.jpg" alt="Hackathon">
        </div>
    </div>
</div>
<div class="block">
    <div class="row">
        <div class="col-4 align-self-center">
            <img src="https://i.ibb.co/whB5ZRL/game.jpg" alt="Game">
        </div>
        <div class="col-8 align-self-center">
            <h2>
                Gaming
            </h2>
        </div>
    </div>
</div>
<div class="block">
    <div class="row">
        <div class="col-8 align-self-center">
            <h2>
                Watching eSports
            </h2>
        </div>
        <div class="col-4 align-self-center">
            <img src="https://i.ibb.co/7j1Qyt0/esports.jpg" alt="eSports">
        </div>
    </div>
</div>
<div class="block">
    <div class="row">
        <div class="col-4 align-self-center">
            <img src="https://i.ibb.co/MMjzz3F/keyboard.jpg" alt="Keyboard">
        </div>
        <div class="col-8 align-self-center">
            <h2>
                Mechanical Keyboards
            </h2>
        </div>
    </div>
</div>
{% endblock %}