{% extends 'base.html' %}
{% block nav %}
<nav class="navbar">
    <a href="/" class="active">Home</a>
    <a href="/about">About</a>
    <a href="/education">Education</a>
    <a href="/pnh">Projects & Hobbies</a>
    <a href="/timeline">Timeline</a>
</nav>
{% endblock %}
{% block body %}
<section class="home" id="home">
    <div class="home-content">
        <h3>Hi, I'm</h3>
        <h1>Nicolas Ruiz</h1>
        <h3>And I'm a <span class="multiple-text"></span></h3>
        <p>I am an entry-level Systems Analyst or Production Engineer with a strong foundation in computer science and
            cloud computing. I graduated with a BS in Computer Science from UTSA, and I am able to work independently
            and aspart of a team. I am passionate about learning new technologies and solving complex problems.</p>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/nicolas-s-ruiz/"><i class='bx bxl-linkedin-square'></i></a>
            <a href="https://github.com/MrSyn88/"><i class='bx bxl-github'></i></a>
            <a href="https://www.instagram.com/NicRuiz88/"><i class='bx bxl-instagram-alt'></i></a>
            <a href="https://twitter.com/NicRuiz88"><i class='bx bxl-twitter'></i></a>
        </div>
        <a href="{{ url_for('static', filename='pdf/Nicolas Ruiz.pdf') }}" download="Nicolas Ruiz.pdf" class="btn">Download Resume</a>
    </div>

    <div class="home-img">
        <img src="https://i.ibb.co/9wxwvLF/profile-square.jpg" alt="Home Page Portrait">
    </div>
</section>
{% endblock %}