{% extends 'base.html' %}
{% block content %}
<div class="profile">
    <div id="profile-picture" class="profile-picture">
        <img width="200px" height="200px" src="https://i.ibb.co/dB3jGNR/638220293716511891.jpg"
            alt="638220293716511891">
    </div>
    <h1>{{ title }}</h1>
</div>

<div class="block">
    <div class="row">
        <div class="col-4 align-self-center">
            <img width="125%" height="125%" src="./static/img/portrait.svg">
        </div>
        <div class="col-8 align-self-center">
            <h2>
                TL;DR
            </h2>
            <h4>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores illum omnis, perspiciatis nisi
                accusantium libero ut! Vitae voluptates deleniti, dignissimos repellendus, alias pariatur eos dolorum
                vero expedita illum eum quod?
            </h4>
        </div>
    </div>
</div>
{% endblock %}