{% extends 'base.html' %}
{% block nav %}
<nav class="navbar">
    <a href="/" class="active">Home</a>
    <a href="/about">About</a>
    <a href="/education">Education</a>
    <a href="/projects">Projects</a>
    <a href="/hobbies">Hobbies</a>
    <a href="/timeline">Timeline</a>
</nav>
{% endblock %}
{% block body %}

<section class="home" id="home">
    <div class="home-content">
        <h3>Hello, I'm</h3>
        <h1>Nicolas Ruiz</h1>
        <h3>And I'm a <span>Production Engineer</span></h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab error ut doloremque fugit odit recusandae nobis
            adipisci?</p>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/nicolas-s-ruiz/"><i class='bx bxl-linkedin-square'></i></a>
            <a href="https://github.com/MrSyn88/"><i class='bx bxl-github'></i></a>
            <a href="https://www.instagram.com/NicRuiz88/"><i class='bx bxl-instagram-alt'></i></a>
            <a href="https://twitter.com/NicRuiz88"><i class='bx bxl-twitter'></i></a>
        </div>
        <div href="" class="btn">Download Resume</div>
    </div>

    <div class="home-img">
        <img src="https://i.ibb.co/9wxwvLF/profile-square.jpg" alt="Home Page Portrait">
    </div>
</section>
{% endblock %}