{% extends 'base.html' %}
{% block body %}

<div class="block">
    <div class="row">
        <div class="col-4 align-self-center">
            <img width="125%" height="125%" src="https://i.ibb.co/bPv8jxc/me1.jpg" alt="Home Page Portrait">
        </div>
        <div class="col-8 align-self-center">
            <h2>
                TL;DR
            </h2>
            <h4>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores illum omnis, perspiciatis nisi
                accusantium libero ut! Vitae voluptates deleniti, dignissimos repellendus, alias pariatur eos dolorum
                vero expedita illum eum quod? Testing deploy
            </h4>
        </div>
    </div>
</div>
{% endblock %}
