{% extends 'base.html' %}
{% block nav %}
<nav class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/education">Education</a>
    <a href="/pnh" class="active">Projects & Hobbies</a>
    <a href="/timeline">Timeline</a>
</nav>
{% endblock %}
{% block body %}
<section class="projects" id="projects">
    <h2 class="heading">Latest <span>Projects</span></h2>

    <div class="projects-container">
        <div class="projects-box">
            <img src="https://i.ibb.co/fQBcGc7/Rowd-E-Books.png" alt="Rowd-E-Books">
            <div class="projects-layer">
                <h4>RowdE-Books</h4>
                <p>An online store for books made for Software Engineering at UTSA.</p>
                <a href="https://github.com/MrSyn88/RowdE-Books"><i class='bx bx-link-external'></i></a>
            </div>
        </div>
        <div class="projects-box">
            <img src="https://i.ibb.co/JFr382c/Cryptid-Coin.png" alt="Cryptid-Coin">
            <div class="projects-layer">
                <h4>CryptidCoin</h4>
                <p>Venture into the unknown and collect all your favorite cryptids.</p>
                <a href="https://devpost.com/software/cryptidcoin"><i class='bx bx-link-external'></i></a>
            </div>
        </div>
        <div class="projects-box">
            <img src="https://i.ibb.co/GMzrpqF/Social-Circle.jpg" alt="Social-Circle">
            <div class="projects-layer">
                <h4>Social Circle</h4>
                <p>A simple social media app that allows users to log in and submit text messages to a board for others
                    to see</p>
                <a href="https://devpost.com/software/social-circle"><i class='bx bx-link-external'></i></a>
            </div>
        </div>
    </div>
    <i class='bx bx-down-arrow-alt' id="down-arrow"></i>
</section>

<section class="hobbies" id="hobbies">
    <h2 class="heading">My <span>Hobbies</span></h2>

    <div class="hobbies-container">
        <div class="hobbies-box">
            <img src="https://i.ibb.co/FYnKqFw/Programming.png" alt="Programming">
            <div class="hobbies-layer">
                <h4>Programming</h4>
                <p>I love programming for its power to turn thoughts into interactive realities, a modern-day magic.</p>
            </div>
        </div>
        <div class="hobbies-box">
            <img src="https://i.ibb.co/M6zhb8Q/Guitar.png" alt="Guitar">
            <div class="hobbies-layer">
                <h4>Learning Instruments</h4>
                <p>Through guitar, piano, and other instruments, I channel my passion while playing my favorite songs.
                </p>
            </div>
        </div>
        <div class="hobbies-box">
            <img src="https://i.ibb.co/pXx1Sc3/Bookstore.png" alt="Bookstore">
            <div class="hobbies-layer">
                <h4>Reading</h4>
                <p>The allure of books lies in escaping to enchanting realms, where imagination knows no bounds. In this
                    photo, my girlfriend and I are in front of one of our favorite bookstores.</p>
            </div>
        </div>
        <div class="hobbies-box">
            <img src="https://i.ibb.co/pnYwFzx/Hackathon.png" alt="Hackathon">
            <div class="hobbies-layer">
                <h4>Attending Hackathons</h4>
                <p>Hackathons are thrilling; I dive into coding frenzies with my friends, crafting ideas into digital
                    marvels.</p>
            </div>
        </div>
        <div class="hobbies-box">
            <img src="https://i.ibb.co/3Bnk0P1/esport.png" alt="esport">
            <div class="hobbies-layer">
                <h4>Watching eSports</h4>
                <p>eSports, notably Overwatch League, offers competitive excitement and camaraderie, merging my
                    passions. #BurnBlue</p>
            </div>
        </div>
        <div class="hobbies-box">
            <img src="https://i.ibb.co/dr3ctft/keyboard.jpg" alt="keyboard">
            <div class="hobbies-layer">
                <h4>Mechanical Keyboards</h4>
                <p>This is myfirst mechanical keyboard; I was so happy with it after putting in the blueberry switches I
                    lubed by hand and switching out the keycaps.</p>
            </div>
        </div>
    </div>
    <i class='bx bx-up-arrow-alt' id="up-arrow"></i>
</section>
{% endblock %}