{% extends 'base.html' %}
{% block content %}
<div class="profile">
    <h1>{{ title }}</h1>
</div>

<div class="block">
    <div class="row">
        <div class="col-4 align-self-center">
            <img src="./static/img/work.jpg">
        </div>
        <div class="col-8 align-self-center">
            <h2>
                My Past Work Experience
            </h2>
            <h4>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores illum omnis, perspiciatis nisi
                accusantium
                libero ut! Vitae voluptates deleniti, dignissimos repellendus, alias pariatur eos dolorum vero expedita
                illum eum quod?
            </h4>
        </div>
    </div>
</div>
<div class="block">
    <div class="row">
        <div class="col-4 align-self-center">
            <img src="./static/img/project1.jpg" alt="project png">
        </div>
        <div class="col-8 align-self-center">
            <h2>
                Project 1
            </h2>
            <h4>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores illum omnis, perspiciatis nisi
                accusantium
                libero ut! Vitae voluptates deleniti, dignissimos repellendus, alias pariatur eos dolorum vero expedita
                illum eum quod?
            </h4>
        </div>
    </div>
</div>
<div class="block">
    <div class="row">
        <div class="col-8 align-self-center">
            <h2>
                Project 2
            </h2>
            <h4>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores illum omnis, perspiciatis nisi
                accusantium
                libero ut! Vitae voluptates deleniti, dignissimos repellendus, alias pariatur eos dolorum vero expedita
                illum eum quod?
            </h4>
        </div>
        <div class="col-4 align-self-center">
            <img src="./static/img/project2.jpg" alt="project png">
        </div>
    </div>
</div>
{% endblock %}