{% extends 'base.html' %}
{% block body %}
<div class="profile">
    <h1>{{ title }}</h1>
</div>
<div class="form-block">
    <form id="timelineForm" method="POST" action="/timeline">
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameInput" name="name" placeholder="name">
        </div>
        <div class="mb-3">
            <label for="emailInput" class="form-label">Email address</label>
            <input type="email" class="form-control" id="emailInput" name="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <textarea class="form-control" id="contentInput" name="content" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">Post</button>
        </div>
    </form>
</div>

{% for posts in posts %}
<div class="block">
    <div class="row">
        <div class="col-3 align-self-center">
            <h1>{{ posts.name }}</h1>
            <img src={{ getGrav(posts.email) }} style="border-radius: 50%;" />
        </div>
        <div class="col-9 align-self-center">
            <p class="post_content">
                {{ posts.content }}
            </p>
        </div>
    </div>
    <div class="bottom">
        <p class="timestamp">
            {{ posts.created_at }}
        </p>
    </div>
</div>
{% endfor %}
<script>
    document.getElementById('timelineForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const form = event.target;

        fetch(form.action, {
            method: 'POST',
            body: new FormData(form),
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    // Show an alert with the error message for error responses
                    alert(data.error);
                } else {
                    // Reload the page after a successful post
                    window.location.reload();
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred. Please try again later.');
            });
    });
</script>
{% endblock %}