{% extends 'base.html' %}
{% block nav %}
<nav class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/education">Education</a>
    <a href="/pnh">Projects & Hobbies</a>
    <a href="/timeline" class="active">Timeline</a>
</nav>
{% endblock %}
{% block body %}

<section class="posts" id="posts">
    <h2 class="heading">Timeline <span>Messages</span></h2>

    <div class="posts-row">
        <div class="posts-column">
            <h3 class="title">Posts</h3>
            {% for posts in posts %}
            <div class="posts-box">
                <div class="posts-content">
                    <div class="content">
                        <div class="info">
                            <img src={{ getGrav(posts.email) }} class="gravatar" alt="Gravatar Image" />
                            <h3>{{ posts.name }}</h3>
                            <div class="year"><i class='bx bxs-calendar'></i> {{ posts.created_at }}</div>
                        </div>
                        <div class="message">
                            <p>{{ posts.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="timeline" id="timeline">
    <h2 class="heading">Post a <span>Message</span></h2>

    <form id="timelineForm" method="POST" action="/timeline">
        <div class="input-box">
            <input type="text" class="form-control" id="nameInput" name="name" placeholder="Name">
            <input type="email" class="form-control" id="emailInput" name="email" placeholder="Email Address">
        </div>
        <textarea class="form-control" id="contentInput" name="content" rows="10" placeholder="Your message"></textarea>
        <input type="submit" value="Post" class="btn">
    </form>
</section>

<div class="arrow">
    <i id="arrow" class="bx bx-down-arrow-alt"></i>
</div>

<script>
    document.getElementById('timelineForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const form = event.target;

        fetch(form.action, {
            method: 'POST',
            body: new FormData(form),
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    // Show an alert with the error message for error responses
                    alert(data.error);
                } else {
                    // Reload the page after a successful post
                    window.location.reload();
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred. Please try again later.');
            });
    });
    document.addEventListener('DOMContentLoaded', function () {
        var postsSection = document.getElementById('posts');
        var timelineSection = document.getElementById('timeline');
        var arrowDiv = document.querySelector('.arrow');

        function updateArrowRotation() {
            var postsRect = postsSection.getBoundingClientRect();
            var timelineRect = timelineSection.getBoundingClientRect();
            var scrollTop = window.scrollY || window.pageYOffset;

            if (scrollTop >= postsRect.top && scrollTop < timelineRect.top) {
                arrowDiv.style.transform = 'rotate(0deg)';
            } else {
                arrowDiv.style.transform = 'rotate(180deg)';
            }
        }

        updateArrowRotation(); // Call initially to set arrow on page load

        document.addEventListener('scroll', function () {
            updateArrowRotation();
        });

        arrowDiv.addEventListener('click', function () {
            if (arrowDiv.style.transform === 'rotate(180deg)') {
                // Scroll to the top of the page
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
            } else {
                // Scroll to the bottom of the page
                window.scrollTo({
                    top: document.body.scrollHeight,
                    behavior: 'smooth'
                });
            }
        });
    });



</script>
{% endblock %}