{% extends 'base.html' %}
{% block content %}
<div class="profile">
    <h1>{{ title }}</h1>
</div>
<div class="form-block">
    <form method="POST" style="align-items: center;">
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameInput" name="name" placeholder="name">
        </div>
        <div class="mb-3">
            <label for="emailInput" class="form-label">Email address</label>
            <input type="email" class="form-control" id="emailInput" name="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <textarea class="form-control" id="contentInput" name="content" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">Post</button>
        </div>
    </form>
</div>

{% for posts in posts %}
<div class="block">
    <div class="row">
        <div class="col-3 align-self-center">
            <h1>{{ posts.name }}</h1>
            <img src={{ getGrav(posts.email) }} style="border-radius: 50%;" />
        </div>
        <div class="col-9 align-self-center">
            <p class="post_content">
                {{ posts.content }}
            </p>
        </div>
    </div>
    <div class="bottom">
        <p class="timestamp">
            {{ posts.created_at }}
        </p>
    </div>
</div>
{% endfor %}

{% endblock %}